<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="DJoz Template">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpaceFunk75</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="./static/css/nowfont.css" type="text/css">
    <link rel="stylesheet" href="./static/css/rockville.css" type="text/css">
    <link rel="stylesheet" href="./static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="./static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header header--normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="./static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./index.html">Home</a></li>
                                <li class="active"><a href="./about.html">About</a></li>
                                <li><a href="./discography.html">Discography</a></li>
                                <li><a href="./videos.html">Videos</a></li>
                            </ul>
                        </nav>
                        <div class="header__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="./static/img/about/fingers.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <h2>He heard something that he knew to be music</h2>
                        </div>
                        <p>Welcome to the cosmic corner of the universe! I'm your friendly neighborhood astronaut, navigating the vast expanse of space in search of one thing: the groove. From the swirling nebulas to the pulsing stars, I'm on a mission to rediscover the rhythm that binds the cosmos together.
                            By day, I'm charting the unexplored territories of the universe, but by night, I transform into a relentless groove seeker, scouring the galaxies for the perfect beat. My spaceship doubles as a dance floor, where every warp drive jump is accompanied by a funky bassline.
                            Join me on this cosmic adventure, and together, we'll explore the far reaches of the universe, tapping into the universal language of music. Let's dance among the stars and share in the infinite joy of the cosmic groove! Don't forget to pack your space boots and your favorite tunes. See you in the cosmos! #SpaceFunk75 #CosmicExplorer"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
   <!-- Footer Section Begin -->
    <footer class="footer footer--normal spad set-bg" data-setbg="./static/img/footer-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__social">
                        <h2>SpaceFunk75</h2>
                        <div class="footer__social__links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
<!--    &lt;!&ndash; Footer Section Begin &ndash;&gt;-->
<!--    <footer class="footer footer&#45;&#45;normal spad set-bg" data-setbg="./static/img/footer-bg.png">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <div class="footer__address">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <i class="fa fa-envelope"></i>-->
<!--                                <p>Email</p>-->
<!--                                <h6>spacefunk75@gmail.com</h6>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 offset-lg-1 col-md-6">-->
<!--                    <div class="footer__social">-->
<!--                        <h2>SpaceFunk</h2>-->
<!--                        <div class="footer__social__links">-->
<!--                            <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                            <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                            <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                            <a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 offset-lg-1 col-md-6">-->
<!--                    <div class="footer__newslatter">-->
<!--                        <h4>Stay With me</h4>-->
<!--                        <form action="#">-->
<!--                            <input type="text" placeholder="Email">-->
<!--                            <button type="submit"><i class="fa fa-send-o"></i></button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
<!--    &lt;!&ndash; Footer Section End &ndash;&gt;-->

    <!-- Js Plugins -->
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/jquery.magnific-popup.min.js"></script>
    <script src="./static/js/jquery.nicescroll.min.js"></script>
    <script src="./static/js/jquery.barfiller.js"></script>
    <script src="./static/js/jquery.countdown.min.js"></script>
    <script src="./static/js/jquery.slicknav.js"></script>
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/main.js"></script>

    <!-- Music Plugin -->
    <script src="./static/js/jquery.jplayer.min.js"></script>
    <script src="./static/js/jplayerInit.js"></script>
</body>

</html>