<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="DJoz Template">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpaceFunk75</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="./static/css/nowfont.css" type="text/css">
    <link rel="stylesheet" href="./static/css/rockville.css" type="text/css">
    <link rel="stylesheet" href="./static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="./static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="./static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Home</a></li>
                                <li><a href="./about.html">About</a></li>
                                <li><a href="./discography.html">Discography</a></li>
                                <li><a href="./videos.html">Videos</a></li>
                            </ul>
                        </nav>
                        <div class="header__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
<section class="hero spad set-bg" data-setbg="{{ url_for('static', filename='img/Background2.png') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <span>New single</span>
                        <h1>SpaceFunk new track out!</h1>
                        <p>A vibrant, psychedelic explosion of colors, with funky retro patterns and disco lights<br />tempor
                            Where Groove Meets Innovation in the Funkosphere!</p>
                        <a href="https://www.youtube.com/watch?v=MZ4SYfaSy2I" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="linear__icon">
            <i class="fa fa-angle-double-down"></i>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Event Section Begin -->
    <section class="event spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Upcoming Events</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="event__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" data-setbg="./static/img/events/event-1.jpg">
                                <div class="tag-date">
                                    <span>Coming Soon!</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                                <h4>SpaceFunk75</h4>
                                <p><i class="fa fa-map-marker"></i>San Diego</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" data-setbg="./static/img/events/event-2.jpg">
                                <div class="tag-date">
                                    <span>Coming Soon!</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                                <h4>SpaceFunk75</h4>
                                <p><i class="fa fa-map-marker"></i>Seattle</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" data-setbg="./static/img/events/event-3.jpg">
                                <div class="tag-date">
                                    <span>Coming Soon!</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                                <h4>SpaceFunk75</h4>
                                <p><i class="fa fa-map-marker"></i>Las Vegas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" data-setbg="./static/img/events/event-2.jpg">
                                <div class="tag-date">
                                    <span>Coming Soon!</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                                <h4>SpaceFunk75</h4>
                                <p><i class="fa fa-map-marker"></i>Los Angeles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Event Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="./static/img/about/event-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <h2>SpaceFunk75</h2>
                            <h1>About me</h1>
                        </div>
                        <p>SpaceFunk75 knows how to move your mind, body and soul by delivering tracks that stand out
                            from the norm. As if this impressive succession of high impact, floor-filling bombs wasn’t
                            enough to sustain.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Track Section Begin -->
<section class="track spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title">
                    <h2>Latest tracks</h2>
                    <h1>SpaceFunk75!</h1>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="track__all">
                    <a href="#" class="primary-btn border-btn">View all tracks</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 p-0">
                <div class="track__content nice-scroll">
                    <div class="single_player_container">
                        <h4>Rox-Anne</h4>
                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1"
                            data-url="{{ url_for('static', filename='music-files/Roxanne.wav') }}"></div>
                        <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                            <div class="jp-gui jp-interface">
                                <!-- Player Controls -->
                                <div class="player_controls_box">
                                    <button class="jp-play player_button" tabindex="0"></button>
                                </div>
                                <!-- Progress Bar -->
                                <div class="player_bars">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div>
                                                <div class="jp-play-bar">
                                                    <div class="jp-current-time" role="timer" aria-label="time">0:00</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                </div>
                                <!-- Volume Controls -->
                                <div class="jp-volume-controls">
                                    <button class="jp-mute" tabindex="0"><i class="fa fa-volume-down"></i></button>
                                    <div class="jp-volume-bar">
                                        <div class="jp-volume-bar-value" style="width: 50%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_player_container">
                        <h4>Rox-Anne Radio Edit</h4>
                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_2"
                            data-url="{{ url_for('static', filename='music-files/RoxanneRadio.wav') }}"></div>
                        <div class="jp-audio jp_container_2" role="application" aria-label="media player">
                            <div class="jp-gui jp-interface">
                                <!-- Player Controls -->
                                <div class="player_controls_box">
                                    <button class="jp-play player_button" tabindex="0"></button>
                                </div>
                                <!-- Progress Bar -->
                                <div class="player_bars">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div>
                                                <div class="jp-play-bar">
                                                    <div class="jp-current-time" role="timer" aria-label="time">0:00</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                </div>
                                <!-- Volume Controls -->
                                <div class="jp-volume-controls">
                                    <button class="jp-mute" tabindex="0"><i class="fa fa-volume-down"></i></button>
                                    <div class="jp-volume-bar">
                                        <div class="jp-volume-bar-value" style="width: 50%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 p-0">
                <div class="track__pic">
                    <img src="{{ url_for('static', filename='img/discography/vin.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Track Section End -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const jpPlayers = document.querySelectorAll('.jp-jplayer');
        jpPlayers.forEach(player => {
            const url = player.getAttribute('data-url');
            $(player).jPlayer({
                ready: function () {
                    $(this).jPlayer("setMedia", {
                        wav: url
                    });
                },
                play: function() { // To avoid multiple jPlayers playing together.
                    $(this).jPlayer("pauseOthers");
                },
                timeupdate: function(event) { // Update the play bar's width based on the current time
                    const ancestor = $(this).closest('.jp-audio');
                    ancestor.find('.jp-play-bar').css('width', event.jPlayer.status.currentPercentAbsolute + '%');
                    ancestor.find('.jp-current-time').text($.jPlayer.convertTime(event.jPlayer.status.currentTime));
                    ancestor.find('.jp-duration').text($.jPlayer.convertTime(event.jPlayer.status.duration));
                },
                swfPath: "{{ url_for('static', filename='js') }}",
                supplied: "wav",
                wmode: "window",
                cssSelectorAncestor: player.getAttribute('data-ancestor')
            });
        });
    });
</script>


    <!-- Youtube Section Begin -->
    <section class="youtube spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Youtube feed</h2>
                        <h1>Latest videos</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <div class="youtube__item__pic set-bg" data-setbg="./static/img/about/event-1.jpg">
                            <a href=https://www.youtube.com/watch?v=00EosX4cWBc?autoplay=1" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="youtube__item__text">
                            <h4>SpaceFunk75</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <div class="youtube__item__pic set-bg" data-setbg="./static/img/about/event-1.jpg">
                            <a href="https://www.youtube.com/watch?v=00EosX4cWBc?autoplay=1" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="youtube__item__text">
                            <h4>Rox-Anne</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="youtube__item">
                        <div class="youtube__item__pic set-bg" data-setbg="./static/img/about/event-1.jpg">
                            <a href="https://www.youtube.com/watch?v=00EosX4cWBc?autoplay=1" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="youtube__item__text">
                            <h4>Rox-Anne</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Youtube Section End -->
   <!-- Footer Section Begin -->
    <footer class="footer footer--normal spad set-bg" data-setbg="./static/img/footer-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__social">
                        <h2>SpaceFunk75</h2>
                        <div class="footer__social__links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
<!--    &lt;!&ndash; Footer Section Begin &ndash;&gt;-->
<!--    <footer class="footer spad set-bg" data-setbg="./static/img/footer-bg.png">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <div class="footer__address">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <i class="fa fa-phone"></i>-->
<!--                                <p>Phone</p>-->
<!--                                <h6>1-677-124-44227</h6>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <i class="fa fa-envelope"></i>-->
<!--                                <p>Email</p>-->
<!--                                <h6>SpaceFunk75@gmail.com</h6>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 offset-lg-1 col-md-6">-->
<!--                    <div class="footer__social">-->
<!--                        <h2>SpaceFunk75</h2>-->
<!--                        <div class="footer__social__links">-->
<!--                            <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                            <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                            <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                            <a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 offset-lg-1 col-md-6">-->
<!--                    <div class="footer__newslatter">-->
<!--                        <h4>Stay With me</h4>-->
<!--                        <form action="#">-->
<!--                            <input type="text" placeholder="Email">-->
<!--                            <button type="submit"><i class="fa fa-send-o"></i></button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			<div class="footer__copyright__text">
				 <!--<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>-->
			</div>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/jquery.magnific-popup.min.js"></script>
    <script src="./static/js/jquery.nicescroll.min.js"></script>
    <script src="./static/js/jquery.barfiller.js"></script>
    <script src="./static/js/jquery.countdown.min.js"></script>
    <script src="./static/js/jquery.slicknav.js"></script>
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/main.js"></script>

    <!-- Music Plugin -->
    <script src="./static/js/jquery.jplayer.min.js"></script>
    <script src="./static/js/jplayerInit.js"></script>
</body>

</html>